# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Import dependencies

import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import random
import time
import json
import requests
import scipy.stats as st
import requests as req
import pandas as pd
import requests
import gmaps
import os
from pprint import pprint
from datetime import datetime
from citipy import citipy

# API Keys needed
from api_keys import weather_api_key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Path to read the City_Weather_Dataframe.csv file
file = os.path.join("City_Weather_Dataframe.csv")

#Read file and store into a dataframe
city_weather_df=pd.read_csv(file)

In [3]:
city_weather_df.head()

,City,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness,Wind Speed,Country,Date
0,Rikitea,-23.12,-134.97,73.24,81,0,12.33,PF,1600023337
1,Hürth,50.87,6.87,73.99,60,20,1.07,DE,1600023338
2,Qaanaaq,77.48,-69.36,23.88,82,6,7.67,GL,1600023339
3,Rio Grande,-32.03,-52.10,64.40,100,90,11.41,BR,1600023092
4,Camacha,33.08,-16.33,75.20,69,20,8.05,PT,1600023342

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Create location based on lat / long
lat_long = city_weather_df[['Latitude', 'Longitude']]

# Create humidity
humidity = city_weather_df['Humidity (%)']

In [5]:
figure_layout = {'width': '900px', 
                 'height': '600px', 
                 'border': '1px solid black', 
                 'padding': '1px',
                 'margin': '0 auto 0 auto'}

# Create heatmap
heatmap_fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))
heatmap_layer = gmaps.heatmap_layer(lat_long, weights=humidity, 
                                    dissipating=False, max_intensity=100, point_radius=2)

# Add heat layers
heatmap_fig.add_layer(heatmap_layer)

heatmap_fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the DataFrame for be based on ideal weather conditions. Guidelines provided include:
# A max temperature between 70 - 80 degrees. 
# Wind speed less than 15 mph. Increased wind temperature criteria to 15 mph to increase number of cities from 12 to 17
# Zero cloudiness
# Any city that does not meet these 3 criteria will be dropped. 

# Create final DataFrame
# ideal_weather_df = pd.DataFrame(city_weather_df, columns = ["City", "Max Temperature (F)", "Cloudiness", "Wind Speed"])
ideal_weather_df = pd.DataFrame(city_weather_df)

# Select cities that only have ideal weather conditions as listed above
temperature = (ideal_weather_df["Max Temperature (F)"] <= 80) &  (ideal_weather_df["Max Temperature (F)"] > 70) 
cloudiness = ideal_weather_df["Cloudiness"] == 0
wind = ideal_weather_df["Wind Speed"] < 15

ideal_weather_df = ideal_weather_df[temperature & cloudiness & wind]
ideal_weather_df

,City,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness,Wind Speed,Country,Date
0,Rikitea,-23.12,-134.97,73.24,81,0,12.33,PF,1600023337
70,Port-de-Bouc,43.40,4.98,77.00,57,0,4.70,FR,1600023437
77,Arrondissement d'Ajaccio,42.00,8.92,73.40,83,0,3.36,FR,1600023446
154,Abhā,18.22,42.51,77.00,14,0,11.41,SA,1600023556
212,Saint-François,46.42,3.91,75.99,41,0,5.82,FR,1600023637
222,Darnah,32.77,22.64,76.37,76,0,7.43,LY,1600023650
230,San Quintín,30.48,-115.95,79.66,52,0,12.68,MX,1600023660
251,Khani,41.96,42.96,71.60,94,0,3.36,GE,1600023686
259,Saurimo,-9.66,20.39,74.62,25,0,3.74,AO,1600023697
294,Abu Samrah,35.30,37.18,72.91,52,0,7.47,SY,1600023743
310,Balkanabat,39.51,54.37,76.42,35,0,5.03,TM,1600023766
323,Mocuba,-16.84,36.99,70.95,79,0,4.88,MZ,1600023782
380,Lima Duarte,-21.84,-43.79,78.80,27,0,9.17,BR,1600023854
436,Betioky,-23.72,44.38,75.33,49,0,11.70,MG,1600023927
516,Porto Torres,40.84,8.40,77.00,69,0,8.05,IT,1600024035
533,Annau,37.89,58.52,77.00,25,0,6.93,TM,1600024059
535,Nālūt,30.33,10.85,79.88,38,0,12.19,LY,1600024061

In [7]:
ideal_weather_df.count()

City                   17
Latitude               17
Longitude              17
Max Temperature (F)    17
Humidity (%)           17
Cloudiness             17
Wind Speed             17
Country                17
Date                   17
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df = ideal_weather_df

In [11]:
# Add a "Hotel Name" column to the DataFrame.
hotel_df['Hotel Name']= ""
hotel_df.head()

,City,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Rikitea,-23.12,-134.97,73.24,81,0,12.33,PF,1600023337,
70,Port-de-Bouc,43.40,4.98,77.00,57,0,4.70,FR,1600023437,
77,Arrondissement d'Ajaccio,42.00,8.92,73.40,83,0,3.36,FR,1600023446,
154,Abhā,18.22,42.51,77.00,14,0,11.41,SA,1600023556,
212,Saint-François,46.42,3.91,75.99,41,0,5.82,FR,1600023637,

In [12]:
# Create a list to store Hotel Names
hotel_name = []

# Dictionary to store query parameters
params = {
    "radius": 5000,
    "type": "Hotel",
    "keyword": "Hotel",
    "key": g_key,}

# Use the latitude / longitude coordinates to identify hotels
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"]=f"{lat},{lng}"
    
# Search for Hotels at the above lat / long coordinates
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
# Make request and print url
    name_address = requests.get(base_url, params=params)
    
    name_address = name_address.json()
    
    try: 
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [13]:
hotel_name

['Pension Bianca & Benoit',
 'HOTEL AZUR',
 'Sole E Monte',
 'Abha Palace Hotel',
 nan,
 'فندق النعيم',
 'Old Mill Hotel',
 'Nino village',
 'Resort Uhenha',
 nan,
 'Nebitchi Hotel',
 'Pensão Venus',
 'Hotel Gabvini',
 'Betioky',
 'Hotel Libyssonis',
 nan,
 nan]

In [14]:
hotel_df['Hotel Name']= hotel_name
hotel_df.head()

,City,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Rikitea,-23.12,-134.97,73.24,81,0,12.33,PF,1600023337,Pension Bianca & Benoit
70,Port-de-Bouc,43.40,4.98,77.00,57,0,4.70,FR,1600023437,HOTEL AZUR
77,Arrondissement d'Ajaccio,42.00,8.92,73.40,83,0,3.36,FR,1600023446,Sole E Monte
154,Abhā,18.22,42.51,77.00,14,0,11.41,SA,1600023556,Abha Palace Hotel
212,Saint-François,46.42,3.91,75.99,41,0,5.82,FR,1600023637,NaN

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [19]:
# Add marker layer ontop of heat map
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}

fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol overlay
hotel_layer = gmaps.marker_layer(locations, hotel_info)

marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

# Add layers
fig.add_layer(heatmap_layer)
fig.add_layer(hotel_layer)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…